In [2]:
# import relevant packages
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import streamlit as st

st.set_page_config(
    page_title="COVID-19 Dashboard",
    page_icon=":bar_chart:",
    layout="wide"
)

In [3]:
# import data
df = pd.read_json("pandemic-tracker-1b4e2-default-rtdb-countyList-export.json")

df.to_csv('test.csv', index=False)

In [4]:
df = pd.read_csv("test.csv")

df.head()

   cases        date  deaths   GEOID     name population    state
0  10457  2021-11-19   156.0  1001.0  Autauga      58805  Alabama
1  37959  2021-11-19   586.0  1003.0  Baldwin     231767  Alabama
2   3660  2021-11-19    79.0  1005.0  Barbour      25223  Alabama
3   4333  2021-11-19    93.0  1007.0     Bibb      22293  Alabama
4  10621  2021-11-19   190.0  1009.0   Blount      59134  Alabama

In [5]:
df.dtypes

cases           int64
date           object
deaths        float64
GEOID         float64
name           object
population     object
state          object
dtype: object

In [26]:
state_geo = "states.geojson"
state_data = pd.read_csv("us-states.csv")

state_data.isnull().values.any()

date_max = max(state_data['date'])
date_max

'2022-01-27'

In [27]:
state_data.columns

Index(['date', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [28]:
state_data[state_data.isna().any(axis=1)]

Empty DataFrame
Columns: [date, state, fips, cases, deaths]
Index: []

In [29]:
state_data = state_data[state_data['fips'].notna()]

In [30]:
state_data[state_data.isna().any(axis=1)]

Empty DataFrame
Columns: [date, state, fips, cases, deaths]
Index: []

In [31]:
latest_state_data = state_data[state_data['date'] == date_max]
latest_state_data

             date                     state  fips    cases  deaths
38366  2022-01-27                   Alabama     1  1153149   16826
38367  2022-01-27                    Alaska     2   205239    1053
38368  2022-01-27            American Samoa    60        1       0
38369  2022-01-27                   Arizona     4  1813796   25932
38370  2022-01-27                  Arkansas     5   762401    9599
38371  2022-01-27                California     6  8169933   79634
38372  2022-01-27                  Colorado     8  1236045   11205
38373  2022-01-27               Connecticut     9   693386    9908
38374  2022-01-27                  Delaware    10   244730    2494
38375  2022-01-27      District of Columbia    11   129479    1282
38376  2022-01-27                   Florida    12  5448288   64635
38377  2022-01-27                   Georgia    13  2262919   31457
38378  2022-01-27                      Guam    66    31190     285
38379  2022-01-27                    Hawaii    15   206405    1156
38380  2022-01-27                     Idaho    16   372579    4367
38381  2022-01-27                  Illinois    17  2886267   34298
38382  2022-01-27                   Indiana    18  1590856   21165
38383  2022-01-27                      Iowa    19   703366    8501
38384  2022-01-27                    Kansas    20   710503    7426
38385  2022-01-27                  Kentucky    21  1137611   12872
38386  2022-01-27                 Louisiana    22  1152818   15570
38387  2022-01-27                     Maine    23   171524    1728
38388  2022-01-27                  Maryland    24   947125   13334
38389  2022-01-27             Massachusetts    25  1590302   21839
38390  2022-01-27                  Michigan    26  2197862   31948
38391  2022-01-27                 Minnesota    27  1295267   11489
38392  2022-01-27               Mississippi    28   712133   10806
38393  2022-01-27                  Missouri    29  1320944   17361
38394  2022-01-27                   Montana    30   236699    2992
38395  2022-01-27                  Nebraska    31   432564    3657
38396  2022-01-27                    Nevada    32   643695    8875
38397  2022-01-27             New Hampshire    33   270063    2193
38398  2022-01-27                New Jersey    34  2092109   31208
38399  2022-01-27                New Mexico    35   465244    6393
38400  2022-01-27                  New York    36  4747515   63697
38401  2022-01-27            North Carolina    37  2352472   20532
38402  2022-01-27              North Dakota    38   219007    2137
38403  2022-01-27  Northern Mariana Islands    69     4564      23
38404  2022-01-27                      Ohio    39  2552972   32489
38405  2022-01-27                  Oklahoma    40   944461   12044
38406  2022-01-27                    Oregon    41   613221    6067
38407  2022-01-27              Pennsylvania    42  2622134   40257
38408  2022-01-27               Puerto Rico    72   483880    3773
38409  2022-01-27              Rhode Island    44   339571    3288
38410  2022-01-27            South Carolina    45  1338384   15181
38411  2022-01-27              South Dakota    46   224238    2628
38412  2022-01-27                 Tennessee    47  1771127   22091
38413  2022-01-27                     Texas    48  6083750   79111
38414  2022-01-27                      Utah    49   869249    4097
38415  2022-01-27                   Vermont    50   102153     529
38416  2022-01-27            Virgin Islands    78    14756      98
38417  2022-01-27                  Virginia    51  1514862   16088
38418  2022-01-27                Washington    53  1266247   10659
38419  2022-01-27             West Virginia    54   434221    5697
38420  2022-01-27                 Wisconsin    55  1495474   12216
38421  2022-01-27                   Wyoming    56   143129    1625

In [32]:
latest_state_data.dtypes

date      object
state     object
fips       int64
cases      int64
deaths     int64
dtype: object

In [35]:
latest_state_data_new = latest_state_data.drop(['fips'], axis=1)
latest_state_data_new['fips'] = latest_state_data['fips'].astype('str')

st.dataframe(df)